.add-patients {
  background-color: rgba(127, 255, 212, 0.39) !important;
}
.date-filter {
  border: none;
  padding: 5px;
  text-align: center;
}

.status-filter {
  text-align: right !important;
}

.patient-form {
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 100%;
}
.date-input {
  width: 100% !important;
  font-size: 100% !important;
  text-align: center !important;
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.modal-btn {
  font-size: 100% !important;
}
.form-input-phone,
.text-phone-number {
  border-radius: 20px !important;
  border: none;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.add-appointment {
  background-color: rgba(8, 252, 69, 0.384) !important;
}
.show-detail-btn {
  background-color: rgba(52, 238, 129, 0.171) !important;
  color: aliceblue !;
}

.edit-btn {
  background-color: rgba(255, 255, 0, 0.473) !important;
  width: 100% !important;
}
.remove-btn {
  margin-top: 5px;
  width: 50% !important;
  background-color: rgba(255, 0, 0, 0.459) !important;
}

.ask-modify-btn {
  width: 40% !important;
}

.close-btn {
  background-color: rgba(0, 0, 0, 0.486) !important;
}

.open-btn {
  background-color: rgba(0, 128, 0, 0.438) !important;
}
.status-appointment {
  border-radius: 50px;
  padding: 15px;
  font-size: 100%;
  width: 20%;
  text-align: center;
  color: rgb(0, 0, 0);
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.open-status {
  background-color: rgba(9, 243, 9, 0.774);
}
.modal-title {
  font-size: 100%vw !important;
}
.close-status {
  background-color: rgba(7, 14, 7, 0.774);
}
.appointment-table {
  background-color: rgba(245, 245, 245, 0.87) !important;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  width: 95% !important;
  margin-top: 20px;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.btn {
  border: none !important;
  border-radius: 20px !important;
  color: rgb(34, 32, 32) !important;
  background-color: rgba(172, 255, 47, 0.521);
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.table-btn {
  font-size: 1vw !important;
}
td {
  font-size: 1vw !important;
}

.filter-input {
  width: 85% !important;
  font-size: 1vw !important;

  text-align: center !important;
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.categories-filter {
  width: 80% !important;
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.modal-show-detail-appointment {
  font-size: 100% !important;
}

.date-column {
  padding: 1.5% !important;
}
.modal-label {
  font-size: 100% !important;
}
.modal-register-patient {
  font-size: 100% !important;
}

.form-input-add-supply {
  font-size: 100% !important;
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}

.add-appointment-btn,
.add-patient-btn {
  width: 50% !important;
  background-color: rgba(32, 223, 32, 0.582) !important;
  margin: auto !important;
}
.modal-btn-container {
  text-align: center;
}

.modal-add-supply {
  border-radius: 20px !important;
}
.sub-header-inventory-table {
  background-color: rgba(128, 128, 128, 0.507) !important;
  font-size: 1vw;
}

.quantity-td {
  cursor: pointer;
  width: 10%;
}
.modify-btn {
  background-color: rgba(255, 217, 0, 0.459) !important;
}

.category-td {
  width: 25%;
}

.remove-supply-btn {
  background-color: rgba(255, 0, 0, 0.562) !important;
  margin-top: 20px;
}

.quantity-row {
  font-size: 20px;
  font-weight: bold;
}

.modal-content {
  border-radius: 20px !important;
}

.error-name {
  color: rgba(255, 0, 0, 0.562) !important;
}
.appointment-remainder {
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  padding: 10px;
  border-radius: 50px !important;
}
.today {
  background-color: rgba(172, 255, 47, 0.452) !important;
}
.late {
  background-color: rgba(255, 47, 47, 0.404) !important;
}
.soon {
  background-color: rgba(241, 255, 47, 0.26) !important;
}
.color-key-btn {
  background-color: rgba(95, 158, 160, 0.521) !important;
}
#popover-patient-info {
  background-color: rgb(255, 255, 255) !important;
  padding: 0.3%;
  border-radius: 20px;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
#popover-patient-info label {
  font-size: 100%;
}
#popover-patient-info h5 {
  font-size: 100%;
}
#popover-color-map-key {
  background-color: rgba(255, 255, 255, 0.938) !important;
  padding: 0.2%;
  border-radius: 30px;
  font-size: 1vw;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}

.show-patient-info {
  background-color: rgb(248, 190, 0) !important;
}
.react-time-picker__wrapper{
  border: none !important;
}
/*******************************************************/
/* Big tablets to 1200px*/
/* @media only screen and (max-width: 1200px) {
} */

/* Small tablets to big tablets: from 768 to 1032*/
/* @media only screen and (max-width: 1032px) {
} */

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
}
