@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap");

.title-brand {
  text-align: center;
  color: cornflowerblue;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
}
.nav-bar {
  background-color: rgba(245, 245, 245, 0.87) !important;
  border-radius: 100px;
  margin-top: 5px;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.logo-image {
  width: 5vw;
  margin-left: 10px;
}

.brand-title {
  font-size: 70px;
  margin-left: 475px;
}

.user-dropdown{
  margin-left: 700px;
}
.form-input-add-user{
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}

.add-user-btn{
  background-color: rgba(148, 255, 127, 0.452) !important;
  border-radius: 20px !important;
  width: 100%;
}
.badge-user{
  color: black !important;
  margin-left: 5px ;
  font-size: 19px !important;
  font-weight: bold;
}
.suggestion-username-btn{
  border-radius: 20px !important;
  background-color: rgb(255, 255, 255) !important;
}