.title-brand {
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}
.nav-bar {
  background-color: rgba(245, 245, 245, 0.87) !important;
  border-radius: 100px;
  width: 80%;
  margin: auto;
  margin-top: 1%;
  position: absolute;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.nav-bar span {
  font-size: 1.4vw;
  color: rgb(79, 80, 82);
  text-align: center !important;
}
.logo-image {
  width: 4.5vw;
  margin-left: 10px;
}

.user-dropdown {
  margin-left: 20vw;
  font-size: 1.3vw !important;
  color: black !important;
  position: relative;
}
.form-input-add-user {
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}

.add-user-btn {
  background-color: rgba(148, 255, 127, 0.452) !important;
  border-radius: 20px !important;
  width: 100%;
}
.badge-user {
  color: black !important;
  margin-left: 5px;
  font-size: 19px !important;
  font-weight: bold;
}
.suggestion-username-btn {
  border-radius: 20px !important;
  background-color: rgb(255, 255, 255) !important;
}

/*******************************************************/
/* Big tablets to 1200px*/
/* @media only screen and (max-width: 1200px) {
} */

/* Small tablets to big tablets: from 768 to 1032*/
/* @media only screen and (max-width: 1032px) {
} */

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .nav-bar {
    width: 90%;
    margin-top: 10%;
  }
  .nav-bar span {
    font-size: 3.5vw !important;
    color: rgb(79, 80, 82);
    text-align: center !important;
  }
  .logo-image {
    width: 10vw;
    margin-left: 10px;
  }

  .user-dropdown {
    margin-left: 20vw;
    font-size: 1vw !important;
    color: black !important;
    position: relative;
  }
  .form-input-add-user {
    border-radius: 20px !important;
    box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  }

  .add-user-btn {
    background-color: rgba(148, 255, 127, 0.452) !important;
    border-radius: 20px !important;
    width: 100%;
  }
  .badge-user {
    color: black !important;
    margin-left: 5px;
    font-size: 19px !important;
    font-weight: bold;
  }
  .suggestion-username-btn {
    border-radius: 20px !important;
    background-color: rgb(255, 255, 255) !important;
  }
}
