.title-brand {
  text-align: center;
  color: cornflowerblue;
  font-weight: bold;
}
.nav-bar {
  background-color: rgba(245, 245, 245, 0.87) !important;
  border-radius: 2vw;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 1%;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}
.nav-bar span {
  color: rgb(79, 80, 82);
  text-align: center !important;
  font-size: 1.5vw!important;
}
.logo-image {
  width: 4.5vw;
  padding: 3px;
}

.user-dropdown {
  margin: auto;
  position: relative;
  background-color: rgba(150, 148, 146, 0.61) !important;
  padding: 0.3vw !important;
  width: 5vw;
  border-radius: 1vw !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  font-size: 1vw;
}
.dropdown-menu {
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.904) !important;
  border: none !important;
  min-width: 10vw !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}

.user-dropdown span,
a {
  color: black !important;
  font-size: 1vw;
}

.form-input-add-user {
  border-radius: 20px !important;
  box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 0px 14px 0px rgba(0, 0, 0, 0.36);
}

.add-user-btn {
  background-color: rgba(148, 255, 127, 0.452) !important;
  border-radius: 20px !important;
  width: 100%;
}
.badge-user {
  color: black !important;
  font-weight: bold;
}
.suggestion-username-btn {
  border-radius: 20px !important;
  background-color: rgb(255, 255, 255) !important;
}

/*******************************************************/
/* Big tablets to 1200px*/
/* @media only screen and (max-width: 1200px) {
} */

/* Small tablets to big tablets: from 768 to 1032*/
/* @media only screen and (max-width: 1032px) {
} */

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
 
}
