.app {
  width: 70%;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
*:focus {
  outline: none !important;
  box-shadow: 0 0 10px #22212152 !important;
  border: transparent !important;

}

.ribbon {
  background-color: rgba(255, 255, 255, 0.281);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: -50px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid rgb(38, 137, 219);
  color: rgb(255, 255, 255) !important;
  display: block;
  font: bold 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
.only-computer-msg {
  border-radius: 25px;
  padding: 15px;
  font-size: 10vw;
  margin: 50% auto;
  color: rgb(59, 58, 58);
}
.only-computer-msg img {
  width: 15vw !important;
}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: rgb(248, 248, 248);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************************************************************/

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .app {
    width: 80%;
    margin: auto;
  }
}
/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .app {
    width: 95%;
    margin: auto;
  }
  .ribbon {
    left: -40px;
    top: 15px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .ribbon a {
    font: bold 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 2px 0;
    padding: 5px 30px;
  }
}
/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  #app {
    width: 95%;
    margin: auto;
  }
  .ribbon {
    left: -40px;
    top: 15px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .ribbon a {
    font: bold 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 2px 0;
    padding: 5px 30px;
  }
}
